<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo of Vue</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h2>Hello World!</h2>
        <img src="../imgs/timg7.jpg" alt="" />
        <div class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
          corrupti velit dignissimos ea totam?
        </div>
        <p><span>Welcome to </span><a href="https://baidu.com">Bai Du</a></p>
      </div>
      <div class="container">
        <h2>Hello World!</h2>
        <img src="../imgs/timg2.jpg" alt="" />
        <div class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
          corrupti velit dignissimos ea totam?
        </div>
        <p><span>Welcome to </span><a href="https://jd.com">Jing Dong</a></p>
      </div>
      <div class="container">
        <h2>Hello World!</h2>
        <img src="../imgs/timg3.jpg" alt="" />
        <div class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
          corrupti velit dignissimos ea totam?
        </div>
        <p><span>Welcome to </span><a href="https://tmall.com">Tian Mao</a></p>
      </div>
      <div class="container">
        <h2>Hello World!</h2>
        <img src="../imgs/timg4.jpg" alt="" />
        <div class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
          corrupti velit dignissimos ea totam?
        </div>
        <p><span>Welcome to </span><a href="https://qq.com/">Tencent</a></p>
      </div>
      <div class="container">
        <h2>Hello World!</h2>
        <img src="../imgs/timg5.jpg" alt="" />
        <div class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
          corrupti velit dignissimos ea totam?
        </div>
        <p><span>Welcome to </span><a href="https://qq.com/">Tencent</a></p>
      </div>
      <div class="container">
        <h2>Hello World!</h2>
        <img src="../imgs/timg6.jpg" alt="" />
        <div class="content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate,
          corrupti velit dignissimos ea totam?
        </div>
        <p><span>Welcome to </span><a href="https://qq.com/">Tencent</a></p>
      </div>
    </div>
  </body>
</html>
