<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/poet.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>唐诗宋词选</h1>
      </div>
      <div class="banner">
        <img src="../imgs/banboo.png">
      </div>
      <div class="content">
        <div class="title"><h3>竹里馆</h3><span>王维</span></div>
        <p><span>独坐幽篁里</span><span>弹琴复长啸</span></p>
        <p><span>林深人不知</span><span>明月来相照</span></p>
      </div>
      <footer>
        <span>唐宋诗词</span>
        <a href="https://www.jd.com/">友情链接</a>
      </footer>
    </div>
  </body>
</html>
