<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/src_less.css" />
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h3>{{title}}</h3>
        <ul>
          <li><img :src="img" alt="" /></li>
          <li>{{content1}}</li>
          <li>{{content2}}</li>
        </ul>
      </div>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          img: "../imgs/photo-01.jpg",
          title: "滕王阁序",
          content1: "落霞与孤乌齐飞 秋水共长天一色",
          content2: "渔舟唱晚 响穷彭蠡之滨 燕阵惊寒 声断衡阳之浦"
        }
      })
    </script>
  </body>
</html>
